@font-face {
  font-family: 'helveticaneuecyrlight';
  src: url('../fonts/havel/helveticaneuecyr-light-webfont.woff2') format('woff2'),
       url('../fonts/havel/helveticaneuecyr-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}