@font-face {
  font-family: 'Parangon530C';
  src: url('Parangon530C.eot?#iefix') format('embedded-opentype'),
  url('Parangon530C.otf') format('opentype'), 
  url('Parangon530C.woff') format('woff'), 
  url('Parangon530C.ttf') format('truetype'),
  url('Parangon530C.svg#Parangon530C') format('svg');
  font-weight: normal;
  font-style: normal;
}