body {
  background: url(../images/bg.png);
}

.login_block {
  width: 423px;
  height: 713px;
  -webkit-box-shadow: 0px 0px 13px 1px #000000;
  box-shadow: 0px 0px 13px 1px #000000;
  background: -webkit-linear-gradient(90deg, #ff8a00 0%, #ffe553 100%);
  background: linear-gradient(0deg, #ff8a00 0%, #ffe553 100%);
  padding: 34px;
  border-radius: 30px;
  padding-top: 34px;
  margin: 0 auto;
  margin-top: 59px;
  margin-bottom: 136px;
}

.user-menu {
  padding: 15px 0;
  width: 204px;
  margin-bottom: 34px;
}

.user-menu img {
  float: left;
  margin-right: 8px;
}

.user-menu .name_user {
  color: #010101;
  font: 400 12px 'Trebuchet MS';
  display: block;
  text-decoration: underline;
  line-height: 1;
}

.user-menu .user_setting_btn {
  color: #b4622d;
  font: 400 12px 'Trebuchet MS';
  display: inline-block;
  line-height: 1;
  text-decoration: underline;
}

.user-menu .logout_link {
  color: #ffffff;
  font: 400 12px 'Trebuchet MS';
  display: inline-block;
  line-height: 1;
  text-decoration: underline;
  position: relative;
}

.user-menu .logout_link:before {
  content: url(../images/Color-Fill-4.png);
  position: absolute;
  width: 10px;
  height: 11px;
  right: -14px;
  top: 1px;
}

.show-fild {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 6px;
  padding-bottom: 10px;
  text-align: right;
  background: #989898;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #989898), color-stop(100%, #515151));
  background: -webkit-linear-gradient(top, #989898 0%, #515151 100%);
  background: -webkit-gradient(linear, top left, bottom left, from(#989898), to(#515151));
  background: linear-gradient(to bottom, #989898 0%, #515151 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#989898', endColorstr='#515151', GradientType=0);
}

.show-fild span {
  color: #ffffff;
  font: 400 12px Arial;
  margin-right: 21px;
  position: relative;
  border-bottom: 1px dotted #ffffff;
  cursor: pointer;
}

.show-fild span:before {
  content: url(../images/Color-Fill-2.png);
  width: 9px;
  height: 9px;
  position: absolute;
  left: -15px;
  top: 0;
}

.form-cover {
  margin-top: 17px;
  padding-bottom: 18px;
  border-bottom: 1px dotted #ffffff;
}

.form-cover form {
  display: table;
}

.form-cover input {
  border-radius: 25px;
  background: #ffffff;
  border-bottom: none;
  padding: 2px 0px 1px 20px;
  color: #cccccc;
  font: 400 25px Arial;
  display: inline-block;
  width: 204px;
}

.form-cover #name_fild {
  margin-bottom: 26px;
}

.form-cover #submit {
  background: -webkit-linear-gradient(90deg, #ff8a00 0%, #ffe553 100%);
  background: linear-gradient(0deg, #ff8a00 0%, #ffe553 100%);
  -webkit-box-shadow: 0px 0px 13px 0.00px #000000;
  box-shadow: 0px 0px 13px 0.00px #000000;
  width: auto;
  color: #464646;
  font: 700 15px Arial;
  text-shadow: 0px 1px 0px #ffffff;
  border: none;
  padding: 4px 34px 5px 32px;
  margin-left: 10px;
  margin-right: 22px;
}

.form-cover .submut-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.text-section {
  margin-top: 36px;
}

.text-section h1 {
  color: #464646;
  font: 400 20px Arial;
  text-shadow: 0px 1px 0px #ffffff;
  line-height: 16px;
}

.text-section span {
  color: #ffffff;
  font: 400 12px Arial;
  text-decoration: underline;
}

.text-section p {
  margin-top: 26px;
  color: #ffffff;
  font: 400 12px Arial;
  line-height: 15px;
}

.footer {
  margin-top: 64px;
  text-align: right;
  color: #ffffff;
  font: 400 12px Arial;
  line-height: 10px;
  padding-right: 91px;
  padding-top: 36px;
  border-top: 1px solid #ffb244;
}