@media screen and (max-width: 991px){
  .ponts_wrapper {
	display: block;
    margin-top: 15px;
}
  .reference{
    float: left;
    margin-top: 15px;
  }
  .passengers {
	float: none;
    width: 100%;
    margin-top: 15px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .logbook {
	margin-top: 40px;
  }
  .stat_sec {
	margin-top: 40px;
  }
}