
@font-face {
  font-family: 'SegoeUI-SemiBold';
  src: url('SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),  url('SegoeUI-SemiBold.woff') format('woff'), url('SegoeUI-SemiBold.ttf')  format('truetype'), url('SegoeUI-SemiBold.svg#SegoeUI-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
