@media screen and (max-width: 1245px){
  .wrapper {
    width: 1024px;
  }
}
@media screen and (max-width: 1024px){
  .wrapper{
    width: 970px;
  }
}
@media screen and (max-width: 768px){
    .wrapper{
      width: 100%;
    } 
}











@media screen and (max-width: 1260px){
 
}

@media screen and (max-width: 1245px){
  .creating-section .cover-creating>div{
    width: 31.316%;
  }
  .portfolio {
    .hover_block {
      font-size: 40px;
    }
  }
  .adaptive-section .adaptive_cont{
      width: 100%;
  }
  .adaptiv_cont_img {
      width: 100%;	
  }
}

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 992px){
  .discr-cover{
    padding: 0 40px;
  }
  .boxes-cover {
    .box_serv_disc {
      margin-left: 0;
    }	
    .box_reg_cust{
      margin-left: 0;
    }
  }
  .what-we-make {
    text-align: center;
    margin-top: 40px;
    padding: 0 15px;
    >div{
      width: 100%;
      margin-bottom: 15px;
      &:first-child{
        padding-left: 25px;
      }
    }
  }
  .studi-discr .cover-big-txt{
    text-align: left;
    width: 100%;
  }
  .studi-discr .cover-head{
    margin-bottom: 10px;
  }
  .first-in-screach .discription-sreach{
    width: 100%;
  }
  .screach_img {
	margin: 0 auto;
    img{
      display: inline-block;
      &:first-child{
        margin-left: 0;
      }
    }
}
  .creating-section {
    .cover-creating{
      font-size: 35px;
      >div{
        .create-block-name {
          width: 85%;
          margin-top: 15px;
        }
        .magazine-block-name{
          width: 90%;
        }
        .web-site-name {
          width: 86%;
        }
      }
      a{
        right: 25px;
      }
      
      .bl_shop, .bl_lading, .bl_web_site{
        font-size: 30px
      }

    }
  }

  .work_price {
    span{
      font-size: 15px;
    }
  }
  .adaptiv_cont_img{
    margin-left: 0;
  }
  .trade-in-blocks {
	padding: 0 25px;
}
  .trade_in_cont .trade-in-blocks div{
    width: 100%;
  }
}
.process-trd {
	margin: 0;
}
//@media screen and (max-width: 768px){
//  .creating-section .cover-creating>div{
//    width: 100%;
//  }
//}

@media screen and (max-width: 768px){
  .creating-section .cover-creating{
   
    div{
      .create-block-name {
	      margin-top: 15px;
          line-height: 40px;
      }
      .web-site-name {
	      padding-bottom: 46px;
      }
    }
    
  }
}