@import "clear.css";
body{
    background: #ffffff;
}
main{
    height: 100%;
}
.wrapper{
    margin: 0 auto;
    width: 1245px;
}
.header_discr{
  padding-top: 203px;
}
#header {
  height: 100%;
        h2{
            display: block;
            color: #ffffff;
            font: 400 45px Parangon530C;
            text-align: center;
        }
    p{
        display: block;
        margin-top: 16px;
        color: #ffffff;
        font:400 24px / 36px PT Sans;
        text-align: center;
    }
    .boxes-cover {
	    text-align: center;
        margin-top: 90px;
        div{
            display: inline-block;
            margin: 0 30px;
            margin-bottom: 121px;
            width: 251px;
            height: 160px;
            border: 2px solid transparent;
            border-image: url(../images/head-border-min.png) 1%;
            position: relative;
            vertical-align: top;
            &:before{
                position: absolute;
                width: 36px;
                height: 34px;
                top: -14px;
                left: -5px;
                right: 0;
                margin: 0 auto;
                display: block;
            }
                &:first-child{
                    &:before{
                        content:url('../images/favourite24-min.png');
                    }
                }
            &:nth-child(2){
                &:before{
                    content:url('../images/tasks3-min.png');
                }
            }
            &:nth-child(3){
                &:before{
                    content:url('../images/accessory32-min.png');
                }
            }
            span{
                font: 400 48px Parangon530C;
                text-align: center;
                color: #ffffff;
                display: block;
                margin-top: 30px;
            }
            p{
                text-align: center;
                color: #ffffff;
                font: 18px / 36px PT Sans;
            }
        }
    }
}

.head-text {
  width: 56%;
  margin: 0 auto;
}


.disc_sect{
  display: block;
  text-align: left;
  width: 100%;
  color: #060606;
  font: 400 36px Parangon530C;
}

.big_header{
  background: url(../images/IMG_3644-min.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  height: 100%;	
  width: 100%;
  .blue_bg {
     height: 100%;	
  }
}

.what-we-make {
    margin: 0 auto;
    padding-bottom: 250px;
    overflow: hidden;
    >div{
        width: 32.97%;
        text-align: left;
        padding: 0 24px;
        padding-top: 83px;
        display: inline-block;
        position: relative;
        vertical-align: top;
      &:before{
        position: absolute;
        left: 25px;
        }
        &:first-child{
            &:before{
                content:url('../images/rocket19-min.png');
                width: 30px;
                height: 58px;
                top: 13px;
                display: block;
            }
        }
        &:nth-child(2){
            &:before{
                content:url('../images/mobile209-min.png');
                width: 28px;
                height: 45px;
                top: 13px;
              left: 25px;
                display: block;
            }
        }
        &:nth-child(3){
            &:before{
                content:url('../images/lifeline5-min.png');
                position: absolute;
                width: 54px;
                height: 44px;
                top: 13px;
                left: 17px;
                display: block;
            }
        }
    }
}
.orange {
  background-color: #f6ae48;
  .discr_us_abil, p{
    color: #ffffff!important;
  }
}
.start, .promotion, .orange {
	
    a{
        text-decoration: none;
        font-size: 22px;
        color: #ffffff;
        float: right;
        position: relative;
        top: 41px;
        right: 20px;
    }
    .discr_us_abil{
        color: #000000;
        font: 700 24px 'Arial-Regular';
        margin-bottom: 15px;
      }
       .support_price{
            text-align: center;
            border:2px solid #ffffff;
            padding:3px 12px;
            color: #ffffff;
            font: 400 18px 'MyriadPro-Regular';
            line-height: 6;
        }
    p{
        color: #000000;
        font: 400 15.34px 'Arial-Regular';
        line-height: 30px;
    }
} 
//navigation
.visible{
    top:0;
}
nav{
    height: 70px;
    z-index: 100;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #adadad;
    background: rgba(255, 255, 255, 0.57);
    top: -150px;
    -moz-transition: -moz-top 0.8s ease-in-out;
    -o-transition: -o-top 0.8s ease-in-out;
    -webkit-transition: -webkit-top 0.8s ease-in-out;
    transition: top 0.8s ease-in-out;
    ul{
        float: right;
        margin-right: 128px;
        position: relative;
        li{
            display: inline-block;
            font: 400 15px Futura-Book;
            padding-left: 36px;
            padding-top: 25px;
            &:first-child{
                padding-left: 0;
            }
            .active{
                color: #f6ae48; 
            }
            a{
                color: #000000;
                text-decoration: none;
            }
        }
    }
    #magic-line {
        width: 100px;
        height: 2px;
        padding: 0;
        position: absolute;
        left: 0;
        bottom: -4px;
        background: #f6ae48;
    }
}
#contacts{
    >div{
        min-height: 100%;
    }
}
//about us section
.studi-discr {
    margin: 0 auto;
    .discr-cover {
        padding-top: 173px;
        padding-bottom: 212px;
        background: url(../images/WE-min.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    span{
        color: #000000;
        font: 700 35px helveticaneuecyrbold;
        display: inline-block;
    }
    .cover-head {
      display: inline-block;
      margin-top: 10px;
      margin-right: 225px;
}
    .cover-big-txt{
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        width: 60%;
    }
    p{
        display: inline-block;
        padding-right: 81px;
        color: rgba(0, 0, 0, 0.8);
        text-align: left;
        font: 400 20px / 30px Arial;
    }
}


//credo-section
.big-section{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/paralax_1-min.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    .blue_bg {
       padding-top: 123px;
       padding-bottom: 138px;
      }
      span{
        color: #ffffff;
        font: 700 50px 'Exo 2';
        text-align: center;
        display: block;
        overflow: hidden;
        white-space: nowrap;     
    }
    p{
        color: #ffffff;
        font: 20px helveticaneuecyrroman; 
        width: 83%;
        margin-top: 60px;
        line-height: 33px;
        white-space: pre-line;
        display: inline-block;
  }
}

//creatin inline block

.creating-section {
    height: 100%;
    position: relative;
    background: url(../images/web-development-cropped-min.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
  >span{
    color: #ffffff;
    font: 400 50px Parangon530C;
    top: 130px;
    text-align: center;
    display: block;
    position: absolute;
    left: 145px;
    z-index: 15;
    }
    .cover-creating {
      padding: 206px 15px;
//3 inline block
    >div{
        z-index: 30;
        display: inline-block;
        width: 32.316%;
        vertical-align: middle;
        border-radius: 10px;
        color: #ffffff;
        font: 700 50.55px Futura-Book;
        position: relative;
      &:after{
        content: "";
        display: block;
        padding-bottom: 100%;
      }
        
        a{
            position: absolute;
            right: 47px;
            bottom: 7px;
            }
        .main-block-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            padding-left: 35px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.21);
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
            &:hover{
                background: rgba(0,0,0,.6);
            }
          }
        .create-block-name {
            display: inline-block;
            border-bottom: 1px solid #ffffff;
            text-align: left;
            padding-bottom: 6px;
            width: 226px;
            margin-top: 60px;
            margin-bottom: 29px;
            line-height: 58px;
        }
        .web-site-name {
	        width: 243px;
            padding-bottom: 62px;
        }
        .magazine-block-name {
            width: 255px;
          }
        }
        //working section blocks
            .bl_lading{
                    background: url(../images/IMG_3646-min.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    a{
                        color: #00b9e7;
                        font-size:20px;
                    }
                }
              .bl_web_site{
                    background: url(../images/Free-04-min.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    font: 700 50.54px 'Exo 2';
                    margin: 0 18px;

                            a{
                                color:#ffcb00;
                                font-size:20px;
                            }
                        }
                .bl_shop{
                        background: url(../images/%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7-min.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        font: 700 50.35px 'Exo 2';
                        a{
                            color:#66bf0d;
                            font-size:20px;
                         }
                      }
//span in 3 block
       
    }
}
                .work_price {
                  position: relative;
                  span{
                    //            2span
                   
                      color: #ffffff;
                      text-align: center;
                      font: 400 24px 'MyriadPro-Regular';
                      padding: 7px 19px;
                      display: inline-block;
                    
                  }
              }
//border span in 3 block
.blue{
    border:3px solid #00b9e7;
}
.yellow {
    border:3px solid #ffcb00;
}
.green {
    border:3px solid #66bf0d;
}
//first in screach
.screach_img {
	float: left;
    margin-left: 205px;
  img{
    display: block;
    margin: 20px;
    &:first-child{
      margin-top: 0;
    }
  }
}
.cont_scr_sect {
 
}
.first-in-screach {
    margin: 88px auto;
    .screach-cover {
	    
        margin-top: 88px;
        padding-left: 75px;
        background: url(../images/BE-THE-FIRST-min.png) no-repeat;
    }
    .discription-sreach {
        float: left;
      width: 48.5%;
    }
    .img-screach-cover {
	    width:400px;
        display: inline-block;
        img{
            margin: 20px 0;
            display: inline-block;
            &:first-child{
                margin-top: 0;
            }
        }
}
    span{
        text-align: left;
        width: 100%;
        color: #060606;
        font: 400 36px Parangon530C;
        padding: 12px 0;
    }
    p{
        display: block;
        text-align: left;
        color: #000000;
        font: 400 24px  'Arial-Regular';
        line-height: 48px;
    }
}
    .last-projects {
      background: #2c2e63;
        width: 100%;
        height: 120px;
        text-align: center;
        span{
            color: #ffffff;
            font: 400 36px Parangon530C;
        }
    }
.portfolio {
  .text_hover{
    display: inline-block;
  }
    .hover-block {
        height: 100%;
        width: 100%;
        position: absolute;
        left:0;
        top:0;
        text-align: center;
        opacity: 0;
        transition: all 1s ease;
        font: 600 2vw 'Exo 2';
        h4{
            color: #ffffff;
            margin-bottom: 25px;
        }
        span{
            color: #ffffff;
        }
        &:hover{
           background: rgba(246, 174, 72, 0.74);
            opacity: 1;
        }
    }
}
.big-block-portfolio {
    >div{
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 50%;
      &:after{
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
    .santeh-block {
        background: url(../images/sa-min.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .expertise-block {
        background: url(../images/block-whitch%20-text-min.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.mini-blocks {
    >div{
        display: inline-block;
        vertical-align: top;
        position: relative;
        height: 100%;
        width: 25%;
      &:after{
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
    .in-car-block{
        background: url(../images/asc-min.png) no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .rkb-auto-block {
        background: url(../images/logo2-min.png)no-repeat;
        background-size: cover;
    }
    .vestevita-block {
        background: url(../images/geV2-1EUZhg-min.png);
        background-size: cover;
    }
    .gostex-block {
        background: url(../images/Realistic-iMac-Mockup1-min.png);
        background-size: cover;
    }
}
.more {
    background-color: #303263;
    height: 120px;
    width: 100%;
    text-align: center;
}
.show-more {
	    padding: 23px 27px;
        display: inline-block;
        background: rgba(255, 255, 255, 0.38);
        border-radius: 10px;
        color: #fff;
        font: 700 17px Parangon530C;
        cursor: pointer;
}
.adaptive-section {
    padding-top: 167px;
    padding-bottom: 130px;
    .adaptive_cont {
          background: url(../images/ADAPTATE-min.png) no-repeat;
          width: 46%;
          padding-left: 75px;
          margin: 30px 0;
          display: inline-block;
          }
            h3{
                color: #060606;
                font: 400 36px  Parangon530C;
                padding-top: 15px;
            }
            p{
                color: #000000;
                font: 400 24px / 48px Arial;
                line-height: 48px;
      }
  }
.adaptiv_cont_img {
	width: 49%;
    margin-left: 35px;
    display: inline-block;
    text-align: center;
}
.trade-in-section {
    background: url(../images/trade-in-bg-min.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 675px;
    padding-bottom: 150px;
    text-align: center;
    h3{
        padding-top: 60px;
        color: #ffffff;
        font: 700 48px  'Exo 2';
    }
    .trade-in-blocks {
        margin-top: 110px;
        div{
            display: inline-block;
            vertical-align: top;
            width: 23.283%;
            position: relative;
            padding: 0 15px;
            &:before{
                position: absolute;
                left: 0;
                top: -10px;
            }
            
            h4{
                color: #ffffff;
                font: 400 30px  Parangon530C;
                text-align: left;
                margin-left: 85px;
            }
            p{  
                margin-top: 30px;
                color: #ffffff;
                text-align: left;
                font: 400 18px  Arial;
                line-height: 30px;
            }
        }
    }
}
     
    .programm-trd {
            &:before{
                content: url('../images/programm-ico-min.png');            
                width: 69px;
                height: 48px;
            }
        }
        .process-trd {
            margin: 0 40px;
            &:before{
                content: url('../images/process-ico-min.png'); 
                width: 67px;
                height: 67px;
            }
        }
        .conditions-trd {
            &:before{
                content: url('../images/diamond-ico-min.png');  
                width: 64px;
                height: 49px;
            }
        }
.chek-my-site {
    color: #ffffff;
    display: inline-block;
    font: 400 24px  Parangon530C;
    border-radius: 15px;
    padding: 20px 30px;
    background-color: #f6ae48;
    margin-top: 50px;
    padding-bottom: 15px;
}
.care-for-each {
    padding-top: 165px;
    padding-bottom: 225px;
    background: url(../images/care-for-each-bg-min.png)center right no-repeat;
    .care-for-each-cover {
	    background: url(../images/BE-CAREFUL-min.png) no-repeat;
        padding-left: 75px;
    }
    h4{
        color: #060606;
        font: 400 36px  Parangon530C;
        padding-top: 15px;
    }
    p{
        color: #000000;
        font: 400 24px Arial;
        line-height: 48px;
        width: 47.715%;
    }
}
.contact-section {
    background: url(../images/contact-section-bg-min.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 170px;
    padding-bottom: 140px;
    .contact-section-cover {
        width: 28.55%;
        float: left;
    }
    h4{
        color: #ffffff;
        font: 400 30px  Parangon530C;
    }
    p{
        color: #ffffff;
        font: 400 18px  Arial;
        margin-top: 55px;
        line-height: 27px;
        
    }
    form{
        float: right;
        width: 606px;
        border-top: 3px solid  #fff;
        span{
            color: #ffffff;
            font: 400 14px  Arial;
            display: inline-block;
            margin-left: 24px;
            margin-right: 59px;
            vertical-align: top;
            margin-top: 10px;
        }
            ::-webkit-input-placeholder {
                    color: #ffffff;
                    font: 400 18px  Arial;
                }
            ::-moz-placeholder          {
                    color: #ffffff;
                    font: 400 18px  Arial;
                }/* Firefox 19+ */
        :-moz-placeholder           {
                    color: #ffffff;
                    font: 400 18px  Arial;
        }/* Firefox 18- */
        :-ms-input-placeholder      {
                    color: #ffffff;
                    font: 400 18px  Arial;
                }
        input{
            background: transparent;
            border-top: none;
            color: #ffffff;
            font: 400 18px  Arial;
        }
        textarea{
            width: 100%;
            height: 160px;
            padding-top: 15px;
            padding-left: 18px;
            background: transparent;
            color: #ffffff;
            font: 400 18px  Arial;
            resize: none;
            border-left: 3px solid #ffffff;
            border-right: 3px solid #ffffff;
            border-bottom: 3px solid #ffffff;
            border-top: none;
        }
        #name{
            padding-top: 14px;
            padding-bottom: 13px;
            padding-left: 18px;
            border-right: 3px solid #ffffff;
            border-left: 3px solid #ffffff; 
            border-bottom:none;
            width: 49.3%;
        }
        #last-name{
            width: 50%;
            padding-top: 14px;
            padding-bottom: 13px;
            padding-left: 18px;
            border-right: 3px solid #ffffff;
            border-bottom:none;
            border-left: none;
        }
        #email{
            width: 100%;
            padding-left: 19px;
            padding-top: 17px;
            padding-bottom: 16px;
            border-bottom: 3px solid #ffffff;
            border-top: 3px solid #ffffff;
            border-left: 3px solid #ffffff;
            border-right: 3px solid #ffffff;
        }
        #submit{
            color: #ffffff;
            font: 400 14px  Parangon530C;
            padding: 15px 23px;
            margin-top: 10px;
            letter-spacing: 1px;
            padding-bottom: 14px;
            background: #f6ae48;
            border-radius: 15px;
            border: none;
        }
    }
}
.price_tag{
  position: relative;
}
.blue_bg {
  position: relative;
  background: rgba(73, 76, 115, 0.73);
}
.last_poj_bg{
  transition: all 0.5s;
  z-index: 5;
  height: 100%;
  background: url(../images/last-projects-bg-min.png);
  background-repeat: no-repeat;
  background-size: cover;
}

///////paralax
#paralax{
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
}